.dragDustbin{
    .content{
        canvas{
            display: block !important;
            width: 100% !important;
            height: 100% !important;
        }
    }
}
#myCanvas{
    display: block;
    position: absolute;
    height: 598;
}